{% extends "base_login.html" %}
{% load i18n %}

{% block content %}
    <div class="register-box">
        <div class="register-logo">
            <a href="/"><b>Portbro VPN Console</b></a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">{% trans 'You have been successfully logged out.' %}</p>
                <div class="row">
                    <div class="col-12">
                        <a href="/accounts/login/" class="btn btn-primary btn-block">{% trans 'Login again' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}